[package]
name = "ripdrag"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "3.2.20", features = ["derive"] }
gtk = { version = "0.4.8" , package = "gtk4"}
infer = "0.9"